* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url("fonts/MullerRegular.woff2") format("woff2"),
    url("fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("fonts/MullerMedium.woff2") format("woff2"),
    url("fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("fonts/MullerBold.woff2") format("woff2"),
    url("fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Muller", sans-serif;

  background-color: #e5e5e5;
}

html,
body {
  margin: 0;
  padding: 0;

  background-color: rgb(241, 240, 238);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  margin: auto;
  width: 1170px;
}

.logo-header {
  max-width: 100%;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cc9933;
  border-radius: 10px;
  padding: 12px 20px;

  color: #cc9933;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;

  background-color: transparent;

  transition: 0.2s color ease, 0.2s background ease, 0.2s border ease;
}

.btn:hover {
  border: 1px solid #a47312;

  color: #fff;

  background-color: #a47312;
}

.title {
  color: #333;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

.text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.link {
  position: relative;

  display: inline-block;

  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #ffcc66;

  transition: color 0.2s ease;
}

.link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13px;

  border: 2px solid #ffcc66;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;

  vertical-align: middle;

  transform: translate(0, -50%) rotate(-45deg);
  transition: border 0.2s ease;
}

.link:hover {
  color: #fff;
}

.link:hover::after {
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.link--medium {
  font-size: 20px;
  font-weight: 500;
}

.link--white {
  color: #fff;
}

.link--white::after {
  border: 2px solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.link--white:hover {
  color: rgba(0, 0, 0, 0.7);
}

.link--white:hover::after {
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.link--dark-orange {
  color: #cc9933;
}

.link--dark-orange::after {
  border: 2px solid #cc9933;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.link--dark-orange:hover {
  color: #a47312;
}

.link--dark-orange:hover::after {
  border: 2px solid #a47312;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
}

.header {
  margin-bottom: 70px;
}

.header__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__logo {
  display: flex;
  margin-right: 40px;
  max-width: 260px;
}

.header__phone {
  color: #666;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  outline: none;

  transition: color 0.2s ease;
}

.header__phone:hover {
  color: #a47312;
}

.header__private {
  display: flex;

  color: #cc9933;
  font-size: 16px;
  line-height: 1;

  outline: none;

  transition: color 0.2s ease;
}

.header__private svg {
  margin-right: 5px;
  width: 24px;
}

.header__private span {
  padding-top: 5px;
}

.header__private-icon path {
  transition: fill 0.2s ease;
}

.header__private:hover {
  color: #a47312;
}

.header__private:hover .header__private-icon path {
  fill: #a47312;
}

.header__foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 45px;

  border-radius: 15px;
  background-color: #fff;
}

.header__navigation {
  padding: 16px 56px 16px 0;
  border-right: 1px solid #e1e1e1;
}

.header__buttons {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.header__button:not(:last-child) {
  margin-right: 40px;
}

.section {
  margin-bottom: 70px;
}

.section__title {
  padding-left: 40px;
  margin-bottom: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}
.nav__link {
  display: inline-block;

  color: #666;
  font-size: 16px;
  line-height: 1;

  outline: none;

  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #a47312;
}

.about-us__text {
  max-width: 75%;
}

.specials {
  display: flex;
  justify-content: space-between;
  margin: 0 -12px;
}

.specials__column {
  display: flex;
  flex-direction: column;
  margin: 0 12px;
  width: calc(50% - 12px);
}

.specials__card:not(:last-child) {
  margin-bottom: 24px;
}

.specials__card--big {
  height: 100%;
}

.card {
  position: relative;

  display: flex;
  align-items: flex-end;
  padding: 40px;
  height: 100%;
  width: 100%;

  background-color: #2a2836;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.card::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: block;
  height: 100%;
  width: 100%;

  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
}

.card__content {
  z-index: 2;

  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.card__title {
  margin-bottom: 14px;

  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.card--big .card__title {
  font-size: 60px;
}

.card__price {
  margin-bottom: 47px;

  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.card--big .card__price {
  font-size: 30px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: calc(50% - 12px);

  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.services__card:not(:nth-child(2n)) {
  margin-right: 24px;
}

.service-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service-card__image {
  height: 165px;
  width: 100%;

  background-size: cover;
  background-position: center;
}

.service-card__content {
  display: flex;
  flex-direction: column;
  padding: 36px 125px 36px 45px;
}

.service-card__link {
  margin-bottom: 6px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefits__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: calc(25% - 12px);

  background: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
}

.benefit {
  display: flex;
  flex-direction: column;
  padding: 42px;
}

.benefit__icon {
  margin-bottom: 10px;
  height: 66px;
  width: 64px;

  background-size: cover;
  background-position: center;
}

.acomodation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.acomodation__card {
  margin-bottom: 24px;
  width: calc(33.333% - 12px);

  background: #FFFFFF;
  border-radius: 15px;
  overflow: hidden;
}

.hotel {
  display: flex;
  flex-direction: column;
}

.hotel__image {
  height: 217px;
  width: 100%;
}

.hotel__content {
  display: flex;
  flex-direction: column;
  padding: 36px 45px 42px;
}

.hotel__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.hotel__price {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.hotel__value {
  color: #000;
}

.hotel__value b {
  font-size: 20px;
}

.hotel__name {
  margin-bottom: 16px;

  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.hotel__place {
  margin-bottom: 16px;

  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.hotel__rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hotel__rating img:not(:last-child) {
  margin-right: 6px;
}

.all-hotel-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 27px;
  height: 100%;
  width: 100%;

  background: #A47312;
}